doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')

  body
    div.container.listing-reg
      h1 Join 3 Day Online Juice Fast Cleanse
  

      block content