body {
    padding: 40px 10px;
    background-image: url("greenjuicee.jpg");
  }
  .listing-reg h1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
	font-weight: 900;
	background-color: #009900;
	color: #fff;
	display: block;
	padding: .5em;
    
  }
  

  .form-style-5{
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background:#ccffcc;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  /* css for registration form and errors*/
  .form-registration {
    border: 2px;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-registration {
    display: flex;
    flex-wrap: wrap;
  }
  .form-registration input {
    width: 100%;
    margin: 0px 0 10px;
  }
  .form-registration .btn {
    flex: 1 0 100%;
  }
  .my-errors {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    color: #333;
    font-size: 1.2rem;
    display: table;
  }
  .my-errors li {
    margin: 0 0 1rem;
  }
  .my-errors li:before {
    content: "! Error : ";
    color: #f00;
    font-weight: bold;
  }
  
  /* Styles for listing table */
  .listing-table {
    width: 100%;
  }
  .listing-table th,
  .listing-table td {
    padding: 10px;
    border-bottom: 1px solid #666;
  }
  .listing-table th {
    background: #000;
    color: #fff;
  }
  .listing-table td:first-child,
  .listing-table th:first-child {
    border-right: 1px solid #666;
  }